::selection {
  background: #fe57a1;
  color: #020202;
}

:root {
  color: seashell;
  background: #322;
}

:any-link {
  color: hotpink;
}

:any-link:active {
  text-shadow: 0 0 1ex;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #322;
    background: seashell;
  }

  :any-link {
    color: #11e;
  }
}
